/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Montserrat', sans-serif;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
p,ul,ol{
	font-size:14px;
}
input[type="submit"],a,.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
a:hover{
	text-decoration:none;
}
a:focus{
	outline:none;
	text-decoration:none;
}
/*-- banner --*/
/*--header -top--*/
/*-- nav --*/
.w3_navigation {
  background: #AD1C1B;
    padding: 0.9em 0;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#ef5734;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding:1em 0 0 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    padding: 0;
    font-size:1em;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height:14px;
    position: relative;
    font-weight: 700;
}
.navbar-brand span {
    color: #82b9e2;
}
p.logo_w3l_agile_caption {
    text-transform:uppercase;
    letter-spacing:9px;
    font-size: 13px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
   background-color: #ef5734;
}
/*-- nav-effect --*/
.menu__list {
	position: relative;
	margin:0.5em 0 0;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Iris */
.menu--iris .menu__item {
	margin:0 0.5em;
}

.menu--iris .menu__link {
	position: relative;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	text-shadow: 0px 1px 3px #033815;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #929292;
}

.menu--iris .menu__item--current .menu__link,.menu__link:hover {
	color:#ef5734;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border: 2px solid #ef5734;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after,.menu__link:hover::before,.menu__link:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.dropdown-menu {
    position: absolute;
    top: 226%;
    left: 0;
    z-index: 1000;
    display: none;
}
/*-- //nav-effect --*/
/*-- banner-text --*/ 
.header-w3layouts{
    position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 6em;
    margin: 0.1em 0 0.2em 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	
}
.agileits-banner-info h3 span{
	    background: #2529d8;
    padding: 0 15px;
}
.agileits-banner-info {
    text-align: left;
    padding: 18em 0 0em;
}
.agileits-banner-info p {
    color: #e2dfdf;
    font-size: 1em;
    line-height: 2.2em;
    letter-spacing: 2px;
    font-weight: 500;
    width: 49%;
    text-align: left;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}

.agileits-banner-info span {
	background:#ef5734;
    padding: 0.5em 2em;
    color: #fff;
    font-size: 1.1em;
    padding: 5px 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*-- //banner-text --*/
/*-- banner-top --*/
.w3layouts-banner-top{
    background: url(../Honda/HondaFit/2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top1{
	background: url(../Honda/HondaInsight/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top2{
	background: url(../Toyota/ToyotaCorolla/1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
.w3layouts-banner-top3{
	background: url(../Mitsubishi/MitsubishiRVR/2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}

/*-- //banner-top --*/ 
/*--about--*/
.about-left_w3ls_img {
    background: url(../background2.jpg)no-repeat center;
    min-height: 642px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-position:fixed;
}
.about-top_agile_its h2 {
	font-size:3em;
	font-weight:600;
	color: #000;
	text-transform: uppercase;
}
.about-top_agile_its {
     padding: 7em 0em 0em 3em;
}
.about-top_agile_its h5 {
    font-size: 1.5em;
    font-weight: 400;
    color: #33cc99;
    /*text-transform: uppercase;*/
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #cec8c8;
    margin: 0px 0px 15px 0px;
    letter-spacing: 4px;
}
.about-top_agile_its span {
     font-weight: 600;
    font-style: italic;
    color: #ef5734;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2em;
}
.about-top_agile_its p {
  font-size:1em;
  font-weight: 400;
  color: #838383;
  line-height: 2em;
  letter-spacing:1px;
  margin-bottom:1em;
}
p.w3l_sub_para_agile {
    color: #33cc99;
    letter-spacing: 5px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 400;
}
/*--about end here--*/
/*-- /services --*/
#services {
     background: url(../background.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height:500px;
}
.agile_overlay{
    /*background: url(../background.webp)repeat;*/
    padding: 6em 0 6.5em 0;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.wthree_head{
	font-size:3em;
    color: #212121;
    text-transform: uppercase;
    text-align: center;
       letter-spacing: 2px;
    font-weight: bold;
}
h3.wthree_head.two {
    color: black;
}
.agileinfo_para{
	color:#999;
	text-align:center;
}
.agileits_heading_section img{
	margin:0 auto;
}
.inner_w3l_agile_grids {
    margin: 4em 0 0;
    height: 700px;
}
.w3ls_banner_bottom_grid{
	/*float: left;*/
}
.w3l_banner_bottom_grid1{
	 width: 100px;
    height: 100px;
    border:6px solid #fff;
    text-align: center;
    margin: 0 auto;
	background: rgba(0, 0, 0, 0.26);
}
.w3l_banner_bottom_grid1 i{
	font-size: 2em;
    color: #ff464f;
    line-height: 2.8em;
}
.w3ls_banner_bottom_grid:hover .w3l_banner_bottom_grid1 i{
    color: #0accff;
}
.w3ls_banner_bottom_grid h4{
    font-size: 1.7em;
    color: black;
    margin: 1.5em 0 1em;
    font-weight: 700;
    letter-spacing: 1px;

}
.w3ls_banner_bottom_grid p{
    color: #e2e1e1;
    line-height: 2em;
    letter-spacing: 1px;
}
/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active,
.w3ls_banner_bottom_grid:hover .hvr-pulse-shrink{
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/*-- //services --*/
/*-- stats --*/
.w3layouts_stats_left{
    padding: 1em 0 4em 0;
	text-align:center;
}
.w3layouts_stats_left p{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    margin: 0.5em 0;
}
.w3layouts_stats_left h3 {
       font-size: 1em;
    color: #33cc99;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;

}
.w3layouts_stats_left i {
    font-size: 2.5em;
    color: #fff;
}
.w3l_stats_bottom_grid_left img{
	margin:0 auto;
}
.stats{
	 background: url(../images/banner3.jpg) no-repeat 0px -212px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
    text-align: center;
}
.agile_overlay2 {
    background: url(../background1.jpg) norepeat;
       padding: 6em 0 2.5em 0;
}
/*-- //stats --*/
/*-- gallery --*/
#gallery {
     padding:6em 0 0 0;
}
#portfolio p {
  line-height: 1.8em;
  margin: 25px 0 0 0;
  font-size:1.1
  color: #ffffff;
  font-weight: 300;
}
.gallery-section h3{
   margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.gallery-grid {
  padding: 0;
}
.gallery1 {
position:relative;
}
.gallery1 .textbox {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: scale(0);
	transform: scale(0);
        background-color: rgba(51, 204, 153, 0.83);
}
.gallery1:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.gallery-grid img{
		width:100%;
}

.textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
text-align:center;
}
.textbox h4 {
    font-size: 2em;
    color: #FFF;
    margin-top: 3.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}
.textbox p {
     font-size: 26px !important;
    color: #fff;
    background: rgba(0, 0, 0, 0.83);
    margin: 6px 0 0 0!important;
    padding: 3px 0;
}
.gallery-grids {
  margin-top: 50px;
}
/*--//gallery--*/

/*-- contact --*/
.contact-w3ls{
	height: 500px;
}
.contact-w3ls p.contact-agile1 {
    font-size: 15px;
	letter-spacing: 1px;
    font-weight: normal;
    padding-bottom: 10px;
    line-height: 29px;
    color: #fff;
}
.contact-w3ls p.contact-agile1 strong {
    letter-spacing: 1.5px;
    color: #ffce14!important;
	font-size: 15px;
}
.contact-w3ls p.contact-agile1 a {
	color:#fff;
}
.contact-w3ls h4 {
	    font-size: 2em;
    letter-spacing: 2px;
    font-weight: normal;
    color: #333;
    margin-bottom:10px;
    font-weight: bold;
}
.contact-w3ls p.contact-agile2 {
      font-size: 14px;
    font-weight: normal;
    padding-bottom: 20px;
    line-height: 30px;
    color: #ef5734;
    letter-spacing: 3px;
}
.contact-w3ls label.contact-p1 {
        font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #4b4d50;
    padding-bottom: 10px;
}
.form-group {
    margin-bottom: 5px;
}
.contact-w3ls p.help-block {
    color:#ff0500!important;
}
.contact-w3ls input#name,.contact-w3ls input#email,.contact-w3ls input#phone  {
	height:45px;
}
.contact-w3ls input#name, .contact-w3ls input#email, .contact-w3ls input#phone {
    font-size: 15px;
    font-weight: normal;
    color: #999;
    border-radius: 0;
    border-color: #fff;
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
    letter-spacing: 1px;
}
.contact-w3ls button.btn.btn-primary {
    color: #fff;
    background: #33cc99;
    border: none;
    font-size: 17px;
    padding: 15px 20px;
    width: 100%;
    margin: 25px 0 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
	outline:none;
	 box-shadow: none;
	 border-radius:0px;
	
}
.contact-w3ls button.btn.btn-primary:hover {
	 background: #ef5734;
    -webkit-transition: all 0.5s ease 0.01s;
    -o-transition: all 0.5s ease 0.01s;
	 -moz-transition: all 0.5s ease 0.01s;
    transition: all 0.5s ease 0.01s;
	
}
.w3l_area_its {
    padding-left: 0;
}
.control-group.form-group.has-warning ul li {
    list-style: none;
}
.control-group.form-group ul li {
    list-style: none;
}
input::-webkit-input-placeholder {
color: #111!important;
} 
input:-moz-placeholder { /* Firefox 18- */
color: #111 !important;  
} 
input::-moz-placeholder {  /* Firefox 19+ */
color: #111 !important;  
} 
input:-ms-input-placeholder {  
color: #111 !important;  
}
.footer-icons-agileinfo{
	margin-left:0!important;
}
.contact-w3-agile1 iframe {
     width: 100%;
    height:350px;
    outline: none;
    border: none;
}
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
#contact {
    padding:6em 0;
}
/*-- //contact --*/

/*-- footer --*/
.agile-footer {
    background: url(../background1.jpg) no-repeat 0px -212px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
    text-align: center;
}
.agile_overlay1 {
    /*background: url(../background1.jpg)repeat;*/
    padding:6em 0 4.5em 0;
}
.aglie-info-logo h5 {
    color: #0aca89;
    font-size: 60px;
    line-height: 75px;
    border: 3px solid #0aca89;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.banner-mid-wthree i {
    font-size: 3em;
    color: #fff;
}
/*-- mail --*/
.w3_agileits_social_media {
    margin: 2em 0 2em 0;
}
.w3_agileits_social_media ul li{
    display: inline-block;
    font-weight: 600;
    margin: 0 1em;
    font-size: 1.2em;
}
.w3_agileits_social_media ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background: #fff;
}
.w3_agileits_social_media ul li a:hover {
	opacity:0.6;
}
.agileinfo_share{
    margin-right: 1em !important;
	color:#fff;
}
.w3_agileits_social_media ul li a.wthree_facebook{
	color:#3b5998;
}
.w3_agileits_social_media ul li a.wthree_twitter{
	color:#1da1f2;
}
.w3_agileits_social_media ul li a.wthree_dribbble{
	color:#ea4c89;
}
.w3_agileits_social_media ul li a.wthree_rss{
	color:#f26522;
}
.w3_agileits_social_media i {
    line-height: 33px;
}
.copy-right p{
	color:white;
	line-height:1.8em;
	    letter-spacing: 1px;
}
.copy-right p a{
	color: #AD1C1B;
	text-decoration:none;
}
.copy-right p a:hover{
	color:#fff;
}
.cam a {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}

/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 55px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/up.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--start-responsive-design--*/
@media (max-width:1440px){
	.agileits-banner-info {
		padding: 16em 0 0em;
	}
	.w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2,.w3layouts-banner-top3{
		min-height:650px;
	}
	.wthree_head {
		font-size: 2.8em;
	}
	.about-top_agile_its h2 {
		font-size: 2.5em;
	}
	.agileits-banner-info h3 {
		font-size: 5.5em;
		margin: 0.1em 0 0.2em 0;
	}
	.textbox h4 {
		margin-top:3em;
	}
	#contact {
		padding:5em 0;
	}
	#gallery {
		padding:5em 0 0 0;
	}
	.navbar-brand {
		padding: 0;
		font-size: 0.9em;

	}
}
@media (max-width:1280px){
    .w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2,.w3layouts-banner-top3{
		min-height:600px;
	}
	.wthree_head {
		font-size: 2.5em;
	}
	.agileits-banner-info {
		padding: 14em 0 0em;
	}
	.textbox h4 {
       margin-top:2.5em;
	   letter-spacing:3px;
    }
	#contact {
		padding:4em 0;
	}
	#gallery {
		padding: 4em 0 0 0;
	}
	.inner_w3l_agile_grids {
		margin: 3em 0 0;
	}
	.agile_overlay {
		padding: 5em 0 5em 0;
	}
	.agileits-banner-info h3 {
		font-size: 5em;
		margin: 0.1em 0 0.2em 0;
	}
}
@media (max-width:1080px){
	.about-top_agile_its {
		padding: 4em 0em 0em 1em;
	}
	.about-left_w3ls_img {
      min-height: 519px;
	}
	.agileits-banner-info h3 {
		font-size: 4em;
		margin: 0.1em 0 0.2em 0;
	}
	.menu--iris .menu__item {
		margin: 0 0.3em;
	}
	.menu__link {
      font-size: 1em;
	}
	.textbox h4 {
		margin-top: 2.3em;
		letter-spacing: 2px;
		font-size: 1.8em;
	}
	.w3l_banner_bottom_grid1 i {
		font-size: 2em;
		line-height: 3.1em;
	}
	.about-top_agile_its h2 {
		font-size: 2.3em;
	}
}
@media (max-width:1050px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 530px;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		line-height: 2.2em;
		width: 51%;
		text-align: left;
	}

	.agileits-banner-info h3 {
		font-size:3.5em;
		margin: 0.1em 0 0.2em 0;
	}
	.agileits-banner-info {
		padding: 13em 0 0em;
	}
	.agile_overlay2 {
		padding: 5em 0 2em 0;
	}
	.wthree_head {
		font-size: 2.3em;
		letter-spacing: 1px;
	}
}
@media (max-width:1024px){
	.agileits-banner-info {
		padding: 13em 0 0 2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height:500px;
	}
	.w3ls_banner_bottom_grid h4 {
		font-size: 1.5em;
		margin: 1.5em 0 1em;
	}
	#contact {
		padding: 3em 0;
	}
	.contact-w3ls h4 {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
}
@media (max-width:991px){
	.navbar-nav > li > a {
		margin: 0;
		padding: 0 1em;
	}
	.menu__link {
		font-size: 0.9em;
	}
	.navbar-brand {
		padding: 0;
		font-size: 0.75em;
	}
	.agileits-banner-info {
		padding: 11em 0 0 0em;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		line-height: 2.2em;
		width: 65%;
		text-align: left;
	}
	.about-left_w3ls_img {
		min-height: 463px;
	}
	.about-top_agile_its {
		padding: 3em 0em 3em 0em;
	}
	.about-right_w3ls {
		padding: 0;
	}
	.w3ls_banner_bottom_grid:nth-child(2){
		margin:2em 0;
	}
	.agile_overlay {
		padding: 4em 0 4em 0;
	}
	.gallery-grid {
		padding: 0;
		float: left;
		width: 33%;
	}
	.textbox h4 {
		margin-top: 2.9em;
		letter-spacing: 2px;
		font-size: 1.7em;
	}
	.w3l_area_its {
		padding: 0;
	}
	.w3l_area {
		padding: 0;
		margin-top: 1.1em;
	}
	.w3layouts_stats_left {
		padding: 1em 0 2em 0;
		text-align: center;
		float: left;
		width: 50%;
	}
	.agile_overlay2 {
		padding: 4em 0 2em 0;
	}
	.about-top_agile_its p {
		font-size: 0.9em;
		margin-bottom: 1em;
	}
	.inner_w3l_agile_grids {
		margin: 2em 0 0;
	}
	p.logo_w3l_agile_caption {
		letter-spacing:8px;
		font-size: 9px;
	}
}
@media (max-width:800px){
	.agileits-banner-info {
		padding: 11em 0 0 2em;
	}
	

}
@media (max-width:768px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height:450px;
	}
		.agileits-banner-info {
		padding: 10em 0 0 3em;
	}
	.about-left_w3ls_img {
		min-height: 375px;
	}
	.textbox h4 {
		margin-top: 2.3em;
		letter-spacing: 2px;
		font-size: 1.7em;
	}
	.agile_overlay1 {
		padding: 4em 0 4em 0;
	}
	.agile-footer {
		min-height: 282px;
	}
}
@media (max-width:767px){
  .navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.nav > li > a {
		display: inline-block;
	}
	.navbar-collapse {
		box-shadow: none;
	}
	.menu__list {
		margin: 0;
		padding: 1em 0;
		background: #0a0a0a;
		text-align: center;
	}
	.menu--iris .menu__item {
		margin: 0 0 1em;
	}
	.navbar-nav .open .dropdown-menu {
		background-color:#1f7f9a;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 10px 15px 10px 25px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: #a5a5a5;
		z-index: 999;
	}
	.navbar-toggle {
		margin: .8em 0 0;
	}
	.navbar-nav > li > a {
		padding: 0 3em;
	}
	.navbar-toggle {
		margin: 0em 0 0;
		border-radius: 0;
		padding: 10px 10px;
	}
	.w3layouts_stats_left p {
		font-size: 1.6em;
		letter-spacing: 2px;
	}
	.navbar-default .navbar-toggle .icon-bar {
       background-color:#ef5734;
	}
	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 3px;
	}
	.w3layouts_stats_left h3 {
      font-size: 0.9em;
	}
	.w3_navigation {
		padding: 0.5em 0;
	}
}
@media (max-width:667px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 400px;
	}
    .agileits-banner-info h3 {
		font-size:2.5em;
		margin: 0.1em 0 0.2em 0;
	}
	.agileits-banner-info p {
		line-height: 2em;
		 width: 86%;
		text-align: left;
	}
	.agileits-banner-info {
		padding: 8em 0 0 3em;
	}
	.textbox h4 {
		margin-top: 1.7em;
		letter-spacing: 1px;
		font-size: 1.6em;
	}
	.textbox p {
		font-size: 20px !important;
		margin: 6px 0 0 0!important;
		padding: 3px 0;
	}
}
@media (max-width:640px){
    .w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height:350px;
	}
	.agileits-banner-info {
		padding: 7em 0 0 3em;
	}

}
@media (max-width:600px){
	.gallery-grid {
		padding: 0;
		float: left;
		width: 50%;
	}
	.textbox h4 {
		margin-top: 2.8em;
		letter-spacing: 1px;
		font-size: 1.6em;
	}
	.agileits-banner-info {
		padding: 6em 0 0 3em;
	}
	.about-top_agile_its h2 {
		font-size: 2em;
	}
	.w3l_banner_bottom_grid1 {
		width: 80px;
		height: 80px;
	}
	.w3l_banner_bottom_grid1 i {
		font-size: 1.8em;
		line-height: 2.8em;
	}
	.w3ls_banner_bottom_grid h4 {
		font-size: 1.5em;
		margin: 1.5em 0 0.5em;
	}
}
@media (max-width:568px){

	.agileits-banner-info h3 {
		font-size: 2em;
		margin: 0.1em 0 0.2em 0;
	}
	.agileits-banner-info span {
		font-size: 0.9em;
		padding: 4px 1.2em;
		letter-spacing: 1px;
	}
}
@media (max-width:480px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 300px;
	}

	.agileits-banner-info h3 {
		font-size: 2em;
		margin: 0.1em 0 0.2em 0;
	}

	.agileits-banner-info {
		padding: 4em 0 0 3em;
	}
	.about-left_w3ls_img {
		min-height: 321px;
	}
	.about-top_agile_its {
		padding: 2em 0em 2em 0em;
	}
	.textbox h4 {
		margin-top: 2em;
		letter-spacing: 1px;
		font-size: 1.6em;
	}
	.wthree_head {
		font-size: 2em;
		letter-spacing: 1px;
	}
	p.w3l_sub_para_agile {
		letter-spacing: 3px;
		font-size: 0.9em;
	}
	.agile_overlay1 {
		padding: 3em 0 3em 0;
	}
	.contact-w3ls p.contact-agile2 {
		font-size: 13px;
		padding-bottom: 20px;
		line-height: 30px;
	}
	#gallery {
		padding: 3em 0 0 0;
	}
	.contact-w3-agile1 iframe {
		height: 250px;
	}
}
@media (max-width:414px){
	.agileits-banner-info p {
		line-height: 1.9em;
		width: 100%;
		text-align: left;
	}
	.agileits-banner-info {
		padding: 4em 0 0 2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height:280px;
	}
	.about-left_w3ls_img {
		min-height: 272px;
	}
	.w3ls_banner_bottom_grid h4 {
		font-size: 1.3em;
		margin: 1.5em 0 0.5em;
	}
	.textbox h4 {
		margin-top: 1.6em;
		letter-spacing: 1px;
		font-size: 1.6em;
	}
}
@media (max-width:384px){
	.about-top_agile_its span {
		font-size: 0.9em;
	}
	.w3ls_banner_bottom_grid p {
		font-size: 0.9em;
	}
	.agile_overlay {
		padding: 3em 0 3em 0;
	}
	.w3layouts_stats_left {
		padding: 1em 0 1em 0;
		text-align: center;
		float: left;
		width: 50%;
	}
	.inner_w3l_agile_grids {
		margin: 1.5em 0 0;
	}
}
@media (max-width:375px){
	.textbox h4 {
		margin-top: 1.5em;
		letter-spacing: 1px;
		font-size: 1.4em;
	}
	.about-top_agile_its h5 {
		font-size: 10px;

		letter-spacing: 2px;
	}
	.about-top_agile_its h2 {
		font-size: 1.6em;
	}
	.wthree_head {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	.w3ls_banner_bottom_grid h4 {
		font-size: 1.2em;
		margin: 1.5em 0 0.5em;
	}
	.w3_agileits_social_media ul li {
		margin: 0 0.5em;
		font-size: 1.2em;
	}
	.cam a {
		font-size: 2.5em;
	}
	.agile-footer {
		min-height: 254px;
	}
	.agileits-banner-info h3 {
		font-size: 1.7em;
		margin: 0.1em 0 0.2em 0;
	}
}
@media (max-width:320px){
	.agileits-banner-info {
		padding: 3em 0 0 1em;
	}
	.agileits-banner-info p {
		line-height: 1.9em;
		font-size: 0.8em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 250px;
	}
	.gallery-grid {
		padding: 0;
		float: left;
		width: 100%;
	}
	.textbox h4 {
		margin-top: 3.5em;
		letter-spacing: 1px;
		font-size: 1.4em;
	}
	.w3layouts_stats_left i {
		font-size: 1.8em;
	}
	.agileits-banner-info h3 {
		font-size: 1.6em;
		margin: 0.1em 0 0.2em 0;
	}
	.navbar-brand {
		padding: 0;
		font-size: 0.65em;
	}
}